<h2>Search</h2>

<p>Search our magnificent store.</p>

<form method="GET" action="/results">
  <input type="search" name="search_query" placeholder="Search for something..." />
  <button>Search</button>
</form>
