<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fruit Shop</title>
</head>
<body>
  <header>
    <h1>Fruit Shop</h1>

    <nav>
      <a href="/">Home Page</a>
      <a href="/login">Log In</a>

      <a href="/results?search_query=grape">Like Grapes?</a>
      <a href="/pt/courses/ux-ui">Like Design and Brazil?</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>Made with 🍉 at Ironhack</p>
  </footer>
</body>
</html>
