<h2>Log In</h2>

<form method="POST" action="/process-login">
  <input type="email" name="userEmail" placeholder="diana@prince.com" />
  <input type="password" name="userPassword" placeholder="Keep it secret" />

  <button>Log In</button>
</form>
